In [15]:
import pandas as pd
pd.set_option('display.max_columns', 100)

import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('cleaned_data_35100062.csv')
df.head()

,Year,GEO,DGUID,ViolationName,UOM,UOM_ID,SCALAR_FACTOR,VECTOR,COORDINATE,VALUE
0,2016,"Canada, selected police services",2016A000011124,"Total, all violations",Number,223,units,v1066366742,1.78,4810
1,2016,"Canada, selected police services",2016A000011124,Homicide,Number,223,units,v1066363814,1.10,119
2,2016,"Canada, selected police services",2016A000011124,Attempted murder / Conspire to commit murder,Number,223,units,v1066363815,1.20,44
3,2016,"Canada, selected police services",2016A000011124,Assault,Number,223,units,v1066363816,1.30,278
4,2016,"Canada, selected police services",2016A000011124,Sexual violations (not including against child...,Number,223,units,v1066363817,1.40,17

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   REF_DATE                468 non-null    int64
 1   GEO                     468 non-null    object
 2   DGUID                   468 non-null    object
 3   Most serious violation  468 non-null    object
 4   UOM                     468 non-null    object
 5   UOM_ID                  468 non-null    int64
 6   SCALAR_FACTOR           468 non-null    object
 7   SCALAR_ID               468 non-null    int64
 8   VECTOR                  468 non-null    object
 9   COORDINATE              468 non-null    float64
 10  VALUE                   468 non-null    int64
 11  STATUS                  0 non-null      float64
 12  SYMBOL                  0 non-null      float64
 13  TERMINATED              0 non-null      float64
 14  DECIMALS                468 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 55.0+ KB

In [18]:
df.duplicated().sum()

0

In [19]:
# Display unique values of 'basement'
df.REF_DATE.unique()

array([2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [20]:
df= df.rename(columns={'REF_DATE': 'Year', 'Most serious violation': 'ViolationName'})

In [28]:
df= df.rename(columns={'UOM': 'UnitOfMeasurement'})

In [29]:
df.head()

,Year,GEO,DGUID,ViolationName,UnitOfMeasurement,UOM_ID,SCALAR_FACTOR,VECTOR,COORDINATE,VALUE
0,2016,"Canada, selected police services",2016A000011124,"Total, all violations",Number,223,units,v1066366742,1.78,4810
1,2016,"Canada, selected police services",2016A000011124,Homicide,Number,223,units,v1066363814,1.10,119
2,2016,"Canada, selected police services",2016A000011124,Attempted murder / Conspire to commit murder,Number,223,units,v1066363815,1.20,44
3,2016,"Canada, selected police services",2016A000011124,Assault,Number,223,units,v1066363816,1.30,278
4,2016,"Canada, selected police services",2016A000011124,Sexual violations (not including against child...,Number,223,units,v1066363817,1.40,17

In [24]:
columns_to_drop= ['STATUS','SYMBOL','TERMINATED','DECIMALS','SCALAR_ID']
df = df.drop(columns_to_drop, axis=1)

In [25]:
df.head()

,Year,GEO,DGUID,ViolationName,UOM,UOM_ID,SCALAR_FACTOR,VECTOR,COORDINATE,VALUE
0,2016,"Canada, selected police services",2016A000011124,"Total, all violations",Number,223,units,v1066366742,1.78,4810
1,2016,"Canada, selected police services",2016A000011124,Homicide,Number,223,units,v1066363814,1.10,119
2,2016,"Canada, selected police services",2016A000011124,Attempted murder / Conspire to commit murder,Number,223,units,v1066363815,1.20,44
3,2016,"Canada, selected police services",2016A000011124,Assault,Number,223,units,v1066363816,1.30,278
4,2016,"Canada, selected police services",2016A000011124,Sexual violations (not including against child...,Number,223,units,v1066363817,1.40,17

In [30]:
df.to_csv('cleaned_data_35100062.csv', index=False)