# SQL Injections

In [1]:
import pandas as pd
import numpy as np

## Import the Table Entries

### Geo

In [2]:
# Import the data from 'geoViolationsStatisticsCleaned.xlsx'
geo_df = pd.read_excel('geoViolationsStatisticsCleaned.xlsx', sheet_name= 'GeoCleaned')
geo_df.head(5)

,geoID,violationLocation,province,policeUnit,region,classificationCode
0,1,Grenville County (Merrickville-Wolford),Ontario,Ontario Provincial Police,municipal,35045
1,2,Brockville,Ontario,NaN,NaN,35046
2,3,Frontenac (South Frontenac),Ontario,Ontario Provincial Police,municipal,35047
3,4,Halton Region (Oakville/Burlington),Ontario,NaN,NaN,35048
4,5,Hawkesbury,Ontario,Ontario Provincial Police,municipal,35049

In [3]:
geo_df.tail(5)

,geoID,violationLocation,province,policeUnit,region,classificationCode
435,436,Northumberland (Trent Hills),Ontario,Ontario Provincial Police,municipal,35110
436,437,Tyendinaga,Ontario,Ontario Provincial Police,municipal,35111
437,438,Nipigon (Red Rock),Ontario,Ontario Provincial Police,municipal,35112
438,439,Northumberland (Cramahe),Ontario,Ontario Provincial Police,municipal,35113
439,440,Ontario,NaN,NaN,NaN,35

In [4]:
geo_df.shape

(440, 6)

In [5]:
geo_df.dtypes

geoID                  int64
violationLocation     object
province              object
policeUnit            object
region                object
classificationCode     int64
dtype: object

In [ ]:
geo_df['geoID'] = geo_df['geoID'].rename

#### Geo 2 (as depicted from the source)

In [6]:
# Import the data from 'geo2.csv'
geo2_df = pd.read_csv('geo2.csv')
geo2_df.head(5)

   geoID                                                geo
0    1.0  Grenville County (Merrickville-Wolford), Ontar...
1    2.0             Brockville, Ontario, municipal [35046]
2    3.0  Frontenac (South Frontenac), Ontario, Ontario ...
3    4.0  Halton Region (Oakville/Burlington), Ontario, ...
4    5.0  Hawkesbury, Ontario, Ontario Provincial Police...

In [7]:
geo2_df.shape

(441, 2)

In [8]:
geo2_df.dtypes

geoID    float64
geo       object
dtype: object

In [9]:
geo2_df.tail(5)

     geoID                                                geo
436  437.0  Tyendinaga, Ontario, Ontario Provincial Police...
437  438.0  Nipigon (Red Rock), Ontario, Ontario Provincia...
438  439.0  Northumberland (Cramahe), Ontario, Ontario Pro...
439  440.0                                       Ontario [35]
440    NaN                                                NaN

In [10]:
geo2_df.dropna(how ='all', inplace=True)
geo2_df.shape

(440, 2)

### Violations

In [11]:
# Import the data from 'violations.csv'
violations_df = pd.read_csv('violations.csv')
violations_df.head(5)

,violationId,violation,mostSerious,violationTypeId
0,1.0,"Total, all Criminal Code violations (including...",0.0,NaN
1,2.0,Total Federal Statute violations [400],1.0,6.0
2,3.0,"Total, all Criminal Code violations (excluding...",0.0,NaN
3,4.0,Total Criminal Code traffic violations [900],1.0,7.0
4,5.0,Total violent Criminal Code violations [100],0.0,2.0

In [12]:
violations_df.shape

(313, 4)

In [13]:
violations_df.dtypes

violationId        float64
violation           object
mostSerious        float64
violationTypeId    float64
dtype: object

In [14]:
violations_df.violationTypeId.fillna(0, inplace=True)

In [15]:
violations_df['violationTypeId'] = violations_df['violationTypeId'].astype(int)
violations_df.dtypes

violationId        float64
violation           object
mostSerious        float64
violationTypeId      int32
dtype: object

In [16]:
violations_df.tail()

,violationId,violation,mostSerious,violationTypeId
308,309.0,Possession of cannabis for purpose of exportat...,0.0,3
309,310.0,"Obtain, offer to obtain, alter or offer to alt...",0.0,3
310,311.0,"Cultivate, propagate or harvest cannabis by ad...",0.0,3
311,312.0,"Cultivate, propagate or harvest cannabis by yo...",0.0,0
312,NaN,"Total, all violations [0]",NaN,0

In [ ]:
#violations_df.dtypes

### Statistics

In [17]:
# Import the data from 'statistics.csv'
statistics_df = pd.read_csv('statistics.csv')
statistics_df.head(5)

   statId                                          statistic
0       1                                  Cleared by charge
1       2                                  Cleared otherwise
2       3  Rate, total persons charged per 100,000 popula...
3       4                               Total, adult charged
4       5  Rate, adult charged per 100,000 population age...

In [18]:
statistics_df.shape

(16, 2)

In [19]:
statistics_df.dtypes

statId        int64
statistic    object
dtype: object

### Crime Statistics

In [20]:
# Import the data from 'statistics.csv'
crime_statistics_df = pd.read_csv('ReducedCrime2016Cleaned.csv')
crime_statistics_df.head(5)

,Year,GEO,DGUID,ViolationType,StatDescription,UnitOfMeasurement,UOM_ID,SCALAR_FACTOR,VECTOR,COORDINATE,VALUE,DECIMALS
0,2016,Ontario [35],2016A000235,"Total, all violations [0]",Actual incidents,Number,223,units,v68753402,1.1.1,567627.00,0
1,2016,Ontario [35],2016A000235,"Total, all violations [0]","Rate per 100,000 population",Rate,257,units,v68753403,1.1.2,4090.89,2
2,2016,Ontario [35],2016A000235,"Total, all violations [0]",Percentage change in rate,Percent,239,units,v68753404,1.1.3,1.72,2
3,2016,Ontario [35],2016A000235,"Total, all violations [0]",Unfounded incidents,Number,223,units,v1000179314,1.1.15,0.00,0
4,2016,Ontario [35],2016A000235,"Total, all violations [0]",Percent unfounded,Percent,239,units,v1000179315,1.1.16,0.00,2

In [21]:
crime_statistics_df.shape

(13136696, 12)

In [22]:
crime_stats_df = crime_statistics_df.drop(['DGUID','UnitOfMeasurement','UOM_ID', 'SCALAR_FACTOR','VECTOR','COORDINATE','DECIMALS'], axis = 1)

In [23]:
crime_stats_df.head()

,Year,GEO,ViolationType,StatDescription,VALUE
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00

In [24]:
crime_stats_df.dtypes

Year                 int64
GEO                 object
ViolationType       object
StatDescription     object
VALUE              float64
dtype: object

In [25]:
#rename the columns
crime_stats_df = crime_stats_df.rename(columns = {'GEO':'geo','ViolationType':'violation','StatDescription':'statistic', 'VALUE':'value'})

In [26]:
crime_stats_df.dtypes

Year           int64
geo           object
violation     object
statistic     object
value        float64
dtype: object

## Merge the tables together

#### Crime Statistics and Statistics

In [27]:
stats_join_crime_stats_df = pd.merge(crime_stats_df, statistics_df, on='statistic', how ='left')

In [28]:
stats_join_crime_stats_df.head()

,Year,geo,violation,statistic,value,statId
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11

In [29]:
crime_stats_df['statId'] = stats_join_crime_stats_df['statId']
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11

#### Crime Statistics and Geo2

In [30]:
geo_join_crime_stats_df = pd.merge(crime_stats_df, geo2_df, on='geo', how ='left')
geo_join_crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440.0
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440.0
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440.0
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440.0
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440.0

In [31]:
crime_stats_df['geoID'] = geo_join_crime_stats_df['geoID']
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440.0
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440.0
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440.0
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440.0
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440.0

In [32]:
# change the data type of the geoID to int
crime_stats_df['geoID'] = crime_stats_df['geoID'].astype(int)
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440

In [33]:
# Save the data as 'crimestatmerged.csv'
#crime_stats_df.to_csv('crime_stat_merged.csv', index = False)

#### Crime Statistics and Violations

In [34]:
violation_join_crime_stats_df = pd.merge(crime_stats_df, violations_df, on='violation', how ='left')
violation_join_crime_stats_df.tail()

,Year,geo,violation,statistic,value,statId,geoID,violationId,mostSerious,violationTypeId
13136691,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, adult charged per 100,000 population age...",0.0,5,264,258.0,0.0,6
13136692,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Total, youth charged",0.0,6,264,258.0,0.0,6
13136693,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, youth charged per 100,000 population age...",0.0,7,264,258.0,0.0,6
13136694,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Total, youth not charged",1.0,8,264,258.0,0.0,6
13136695,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, youth not charged per 100,000 population...",0.0,9,264,258.0,0.0,6

In [35]:
violation_join_crime_stats_df.isnull().sum()

Year                   0
geo                    0
violation              0
statistic              0
value                  0
statId                 0
geoID                  0
violationId        42240
mostSerious        42240
violationTypeId        0
dtype: int64

In [36]:
crime_stats_df['violationId'] = violation_join_crime_stats_df['violationId']
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID,violationId
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440,NaN
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440,NaN
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440,NaN
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440,NaN
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440,NaN

In [37]:
crime_stats_df.tail()

,Year,geo,violation,statistic,value,statId,geoID,violationId
13136691,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, adult charged per 100,000 population age...",0.0,5,264,258.0
13136692,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Total, youth charged",0.0,6,264,258.0
13136693,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, youth charged per 100,000 population age...",0.0,7,264,258.0
13136694,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Total, youth not charged",1.0,8,264,258.0
13136695,2021,"Canadian Pacific Railway Police, Ontario [35991]",Other federal statutes [6900],"Rate, youth not charged per 100,000 population...",0.0,9,264,258.0

In [41]:
crime_stats_df['violationId'].fillna(0, inplace=True)
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID,violationId
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440,0.0
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440,0.0
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440,0.0
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440,0.0
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440,0.0

In [42]:
crime_stats_df['violationId'] = crime_stats_df['violationId'].astype(int)
crime_stats_df.head()

,Year,geo,violation,statistic,value,statId,geoID,violationId
0,2016,Ontario [35],"Total, all violations [0]",Actual incidents,567627.00,12,440,0
1,2016,Ontario [35],"Total, all violations [0]","Rate per 100,000 population",4090.89,13,440,0
2,2016,Ontario [35],"Total, all violations [0]",Percentage change in rate,1.72,14,440,0
3,2016,Ontario [35],"Total, all violations [0]",Unfounded incidents,0.00,10,440,0
4,2016,Ontario [35],"Total, all violations [0]",Percent unfounded,0.00,11,440,0

### The final out put for the Crime statistics table

In [43]:
final_crime_stat_df = crime_stats_df.drop(['geo', 'violation','statistic'], axis = 1)
final_crime_stat_df.head()

   Year      value  statId  geoID  violationId
0  2016  567627.00      12    440            0
1  2016    4090.89      13    440            0
2  2016       1.72      14    440            0
3  2016       0.00      10    440            0
4  2016       0.00      11    440            0

In [ ]:
# Save the data as 'final_crime_stat.csv'
#final_crime_stat_df.to_csv('final_crime_stat.csv')

In [44]:
#crime_stat_df = final_crime_stat_df.rename(columns = {'Year':'year','geoID':'geoId'})
crime_stat_df.head()

   year      value  statId  geoId  violationId
0  2016  567627.00      12    440            0
1  2016    4090.89      13    440            0
2  2016       1.72      14    440            0
3  2016       0.00      10    440            0
4  2016       0.00      11    440            0

In [57]:
# Save the data as 'final_crime_statistics.csv'
crime_stat_df.to_csv('final_crime_statistics.csv')

In [58]:
crime_df = pd.read_csv('final_crime_statistics.csv')
crime_df.head()

   Unnamed: 0  year      value  statId  geoId  violationId
0           0  2016  567627.00      12    440            0
1           1  2016    4090.89      13    440            0
2           2  2016       1.72      14    440            0
3           3  2016       0.00      10    440            0
4           4  2016       0.00      11    440            0

In [59]:
crime_df.shape

(13136696, 6)

In [60]:
crime_df.isnull().sum()

Unnamed: 0     0
year           0
value          0
statId         0
geoId          0
violationId    0
dtype: int64

In [62]:
crime_df = crime_df.rename(columns = {'Unnamed: 0':'crimestatId'})
crime_df.head()

   crimestatId  year      value  statId  geoId  violationId
0            0  2016  567627.00      12    440            0
1            1  2016    4090.89      13    440            0
2            2  2016       1.72      14    440            0
3            3  2016       0.00      10    440            0
4            4  2016       0.00      11    440            0

In [ ]:
#df = pd.read_csv('final_crime_stat.csv')
#df.head()

In [64]:
# Save the data as 'final_crime.csv'
crime_df.to_csv('crimeStatistics.csv', index=False)

In [65]:
crime_df.dtypes

crimestatId      int64
year             int64
value          float64
statId           int64
geoId            int64
violationId      int64
dtype: object

## Create the MS SQL Table Injections

import pyodbc

# Connect to SQL Server
server = '<server name or IP>'
database = '<database name>'
username = '<username>'
password = '<password>'
cnxn = pyodbc.connect(f'DRIVER=SQL Server;SERVER={server};DATABASE={database};UID={username};PWD={password}')

# Define the SQL statement and parameters
sql = 'INSERT INTO my_table (col1, col2, col3) VALUES (?, ?, ?)'
params = [(1, 'A', 'X'), (2, 'B', 'Y'), (3, 'C', 'Z')]

# Create a cursor object and execute the SQL statement for each set of parameters
cursor = cnxn.cursor()
cursor.executemany(sql, params)

# Commit the transaction and close the connection
cnxn.commit()
cnxn.close()